:root {
  // colors

  --white: #fff;
  --black: #000;
  --primary: #01996d;
  --secondary: #245852;
  --gray: #d6d6d6;

  // values

  --content-width: 1400px;
  --container-offset: 15px;

  // fonts

  --font-family: "Lato", sans-serif;
}
