mixin nav
  nav.nav&attributes(attributes) 
    ul.nav__list.list-reset 
      li.nav__item 
        a.nav__link(href="#") Why Alivio
      li.nav__item 
        a.nav__link(href="#") Solutions
      li.nav__item 
        a.nav__link(href="#") Community
      li.nav__item 
        a.nav__link(href="#") Pricing