.nav {
  font-weight: 500;
  font-size: 20px;
  color: var(--black);

  &__link {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.35s;
    text-underline-offset: 5px;

    @include hover {
      text-decoration-color: var(--primary);
    }
  }
}
