@import "@cmps/Navigation/nav";

.header {
  border-bottom: 1px solid var(--gray);
  padding: 16px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    .nav__list {
      display: flex;
    }

    .nav__item {
      &:not(:last-child) {
        margin-right: 70px;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__button {
    font-size: 20px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
