include @cmps/Navigation/nav

header.header 
  .container.header__container 
    a(href="#") 
      img(src="./images/logo.png", alt="Alivio")
    +nav(class="header__nav")
    .header__buttons 
      button.btn-reset.header__button Sign in 
      button.btn-reset.btn-green.header__button Start Trial

    