section.about 
  .container
    .about__container 
      div 
        span.caption How it works
        h2.title.about__title Understand & Release the stress in 3 steps
      p.about__descr Alivio offers as many journals it takes, tackling different areas such as anxiety, overwhelmedness, sadness, or anger, and a variety of personal causes, to help you become aware of your emotions, and guide you in how to manage stress.
    ul.about__list.list-reset 
      li.about__item 
        h3.about__item-title Personalize
        p.about__item-descr Answer a quick survey about how you express yourself, what causes you stress, and what area would you like to work on. This way, we can fully personalize your journal!
        img.about__item-img(src="./images/image1.jpg", alt="")
      li.about__item 
        h3.about__item-title Personalize
        p.about__item-descr Answer a quick survey about how you express yourself, what causes you stress, and what area would you like to work on. This way, we can fully personalize your journal!
        img.about__item-img(src="./images/image2.jpg", alt="")
      li.about__item 
        h3.about__item-title Personalize
        p.about__item-descr Answer a quick survey about how you express yourself, what causes you stress, and what area would you like to work on. This way, we can fully personalize your journal!
        img.about__item-img(src="./images/image3.jpg", alt="")