.about {
  padding: 120px 0;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  &__title {
    margin: 0;
    max-width: 550px;
    color: var(--primary);
  }

  &__descr {
    margin: 0;
    max-width: 600px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
  }

  &__list {
    counter-reset: section;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;

    &::before {
      counter-increment: section;
      content: "0" counter(section);
      position: absolute;
      left: 0;
      top: -10%;
      font-family: "Georgia", serif;
      font-size: 150px;
      color: rgba(1 153 109 / 20%);
    }

    &-title {
      margin: 0;
      margin-bottom: 50px;
      font-family: "Georgia", serif;
      font-weight: 700;
      font-size: 30px;
      line-height: 150%;
    }

    &-descr {
      margin: 0;
      margin-bottom: 50px;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
    }

    &-img {
      border-radius: 16px;
      width: 100%;
    }

    &:nth-child(2n) {
      margin-top: 400px;
    }
  }
}
