section.hero 
  .container 
    h1.hero__title Be aware, Manage well.
    p.hero__descr Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.
    button.btn-reset.btn-green  Find Your Way