section.product 
  .container.product__container 
    .product__media 
      img.product__img(src="./images/woman.jpg", alt="Woman")
      .product__card 
        h3.product__card-caption Customized For
        img.product__card-avatar(src="./images/woman.jpg", alt="")
        span.product__card-name Mikayla
        span.product__card-title Your custom contents
        ul.list-reset.product__card-list 
          li.product__card-item Understand Your Stress
          li.product__card-item Anger Management
    .product__content 
      span.caption Our product
      h2.title.product__title You tell us your stress, We make your diary
      p.product__descr Everyone experiences it, and in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.
      button.btn-reset.btn-green Find Your Way