section.story 
  .container.story__container 
    .story__content 
      h2.title.story__title Let's hear about Kayla's success story
      p.story__descr See how well Alivio works in a real customer’s life. 
      button.btn-reset.btn-green Let’s get started
    video.story__video(src="./resources/video.webm", poster="./images/video-poster.jpg", controls) 