extends layouts/page

block config 
  - page.title = "Alivio"

block styles
  +style('styles/main.css')
  +style('styles/index.css')

block scripts
  +script('scripts/imageLazy.js')
  +script('scripts/index.js')

block partials 
  include @cmps/Header/header
  main
    include @partials/hero
    include @partials/about
    include @partials/story
    include @partials/product
  include @cmps/Footer/footer